################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Automation.Core/bin
/Automation.Core/obj
/Automation.Infrastructure/bin
/Automation.Infrastructure/obj
/Automation.Infrastructure/Automation.Infrastructure.csproj
/Automation.Robots/bin
/Automation.Robots/obj
/Automation.Worker/bin
/Automation.Worker/obj
